extends layout

block content
	div(class='section)
		div(class='container')
			div(class='row')
				div(class='col-md-6')
					img(src='/images/Qiyi/146341915701abc6acb0244972ba36063c224870da__mn314401__w885__h590__f167542__Ym201605.jpg'
					class="img-responsive")
					