extends layout

block content
	div(class='section')
		div(class='container')
			div(class='row')
				div(class='col-md-6' id='diagram')
					table(border='1', style='float:left')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
					table(border='1', style='float:left',id='U')
						tbody
							tr
								td(id='U1')
								td(id='U2')
								td(id='U3')
							tr
								td(id='U4')
								td(id='U5') U
								td(id='U6')
							tr
								td(id='U7')
								td(id='U8')
								td(id='U9')
					table(border='1', style='float:left')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
					table(border='1',id='B')
						tbody
							tr
								td(id='B1')
								td(id='B2')
								td(id='B3')
							tr
								td(id='B4')
								td(id='B5') B
								td(id='B6')
							tr
								td(id='B7')
								td(id='B8')
								td(id='B9')
					table(border='1', style='float:left',id='L')
						tbody
							tr
								td(id='L1')
								td(id='L2')
								td(id='L3')
							tr
								td(id='L4')
								td(id='L5') L
								td(id='L6')
							tr
								td(id='L7')
								td(id='L8')
								td(id='L9')
					table(border='1', style='float:left',id='F')
						tbody
							tr
								td(id='F1')
								td(id='F2')
								td(id='F3')
							tr
								td(id='F4')
								td(id='F5') F
								td(id='F6')
							tr
								td(id='F7')
								td(id='F8')
								td(id='F9')
					table(border='1', style='float:left',id='R')
						tbody
							tr
								td(id='R1')
								td(id='R2')
								td(id='R3')
							tr
								td(id='R4')
								td(id='R5') R
								td(id='R6')
							tr
								td(id='R7')
								td(id='R8')
								td(id='R9')
					table(border='1')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
					table(border='1', style='float:left')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
					table(border='1', style='float:left',id='D')
						tbody
							tr
								td(id='D1')
								td(id='D2')
								td(id='D3')
							tr
								td(id='D4')
								td(id='D5') D
								td(id='D6')
							tr
								td(id='D7')
								td(id='D8')
								td(id='D9')
					table(border='1', style='float:left')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
					table(border='1', style='float:left')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
				div(class="col-md-6" id='queryresultf2lfield' ) 
											
		div(class='container')
			div(class='row')
				div(class='col-md-6')
					input(type='button', value='red', class='btn btn-default', id='color', style='background-color:red')
					input(type='button', value='green', class='btn btn-default', id='color', style='background-color:green')
					input(type='button', value='white', class='btn btn-default', id='color', style='background-color:white')
					input(type='button', value='eraser', class='btn btn-default', id='eraser', style='background-color:#D5D5D5')
					a(class='btn btn-success', value='F2' id='setblackImage') defaultcube
					input(type='button', value='search' class='btn btn-default', id='f2lsearch',style='background-color:white')
				
	script(src='/resources/makeCube.js', charset='utf-8')
	script(src='/resources/movingCube.js' charset='utf-8')
	script(src='/resources/setView.js' charset='utf-8')
	script(src='/resources/movingController.js' charset='utf-8')
	script(src='/resources/MakingCubeDiagram.js' charset='utf-8')
	script(src='/resourcesCFOP/CFOPsetting.js' charset='utf-8')
	script(src='/resources/Parser.js' charset='utf-8')
	script(src='/resourcesCFOP/f2lmain.js' charset='utf-8')
