extends layout

block content
	script(type='text/javascript' src = '/resources2/formCheck.js')
	
	div(class="section")
		div(class="container")
			div(class="row")
				div(class="col-md-12")
					(ul class="nav nav-pills")
						li(class='active')
							a(href='#information') info
					form(role ='form', id='joinform', method='POST', action='/modifyinfo' onsubmit='return check(this)')
						div(class='form-group')
							label(class='control-label' for='email') Email address
							input(class='form-control' id='email', name='email',value='#{email}', type='text')
							input(type='button', class='btn btn-default', value='EmailConfirm',id='emailconfirm')
						div(class='form-group')
							label(class='control-label' for='nickname') Nickname
							input(class='form-control' id='nickname', name='nickname',value='#{nickname}', type='text')
							input(type='button', class='btn btn-default', value='Nicknameconfirm',id='nicknameconfirm')
						div(class='form-group')
							label(class='control-label' for='password') Password
							input(class='form-control' id='password',name='password',value='#{password}', type='text')
						button(type="submit" class="btn btn-default") Submit
						button(type='button' class="btn btn-default" onclick="location.href='/deleteinfo'") Delete