doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device=width, initial-scale=1')
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/outerResources/bootstrap.css')
		script(type='text/javascript' src='/outerResources/bootstrap.min.js')
		script(type='text/javascript' src='/outerResources/jquery-3.0.0.js')
		//script(type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		//script(type='text/javascript' src='http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		//link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
		//link(href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet',type='text/css')
		//link(rel='stylesheet', type='text/css', href='http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css')
		script(type='text/javascript' src='resources2/jqueryUI.js')
	body
	
		div(class='navbar navbar-default navbar-static-top')
			div(class='container')
				div(class='navbar-header')
					button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-ex-collapse')
						span(class='sr-only')
						span(class='icon-bar')
						span(class='icon-bar')
						span(class='icon-bar')
					a(class='navbar-brand') 
					span PICK THE CUBE
				div(class='collapse navbar-collapse', id='navbar-ex-collapse')
					ul(class='nav navbar-nav navbar-right')
						li
							a(href="/") home
						li
							a(href="/simulator") simulator
						- if(!session.logined)
							li
								a(href='/join') signup
							li
								a(href='/login') login
						- if(session.logined)
							li
								a(href='/logout') logout
							li
								a(href='/info') info
							li
								a(href='/lecture') lecture	
							li
								a(href='/dictionaryform') dictionary
							li
								a(href='/cubedic') cubes..
						li
							a(href="") who's made?
		block content
		
		