extends layout

block content
	div(class='section')
		div(class='container')
			div(class='row')
				div(class='col-md-6')
					table(border='1', style='float:left')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
					table(border='1', style='float:left',id='U')
						tbody
							tr
								td(id='U1')
								td(id='U2')
								td(id='U3')
							tr
								td(id='U4')
								td(id='U5')
								td(id='U6')
							tr
								td(id='U7')
								td(id='U8')
								td(id='U9')
					table(border='1', style='float:left')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
					table(border='1',id='B')
						tbody
							tr
								td(id='B1')
								td(id='B2')
								td(id='B3')
							tr
								td(id='B4')
								td(id='B5')
								td(id='B6')
							tr
								td(id='B7')
								td(id='B8')
								td(id='B9')
					table(border='1', style='float:left',id='L')
						tbody
							tr
								td(id='L1')
								td(id='L2')
								td(id='L3')
							tr
								td(id='L4')
								td(id='L5')
								td(id='L6')
							tr
								td(id='L7')
								td(id='L8')
								td(id='L9')
					table(border='1', style='float:left',id='F')
						tbody
							tr
								td(id='F1')
								td(id='F2')
								td(id='F3')
							tr
								td(id='F4')
								td(id='F5')
								td(id='F6')
							tr
								td(id='F7')
								td(id='F8')
								td(id='F9')
					table(border='1', style='float:left',id='R')
						tbody
							tr
								td(id='R1')
								td(id='R2')
								td(id='R3')
							tr
								td(id='R4')
								td(id='R5')
								td(id='R6')
							tr
								td(id='R7')
								td(id='R8')
								td(id='R9')
					table(border='1')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
					table(border='1', style='float:left')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
					table(border='1', style='float:left',id='D')
						tbody
							tr
								td(id='D1')
								td(id='D2')
								td(id='D3')
							tr
								td(id='D4')
								td(id='D5')
								td(id='D6')
							tr
								td(id='D7')
								td(id='D8')
								td(id='D9')
					table(border='1', style='float:left')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
					table(border='1', style='float:left')
						tbody
							tr
								td(id='1', bgcolor='#FAF4C0')
								td(id='2', bgcolor='#FAF4C0')
								td(id='3', bgcolor='#FAF4C0')
							tr
								td(id='4', bgcolor='#FAF4C0')
								td(id='5', bgcolor='#FAF4C0')
								td(id='6', bgcolor='#FAF4C0')
							tr
								td(id='7', bgcolor='#FAF4C0')
								td(id='8', bgcolor='#FAF4C0')
								td(id='9', bgcolor='#FAF4C0')
				
				div(class='col-md-6')
					div(class='container' style='width:100%; height:315px; overflow:auto' id='inputsctr')
						
							
					
					div(class='container')
						div(class='btn-group')
							input(type='button', id='before' value='◀')
							input(type='button', id='next' value='▶')
								
			div(class='row')
				div(class='col-md-6' id = "buttons")
					div(class='container')
						a(class='btn btn-info', value='F2' id='setDefaultImage') 기본 큐브 세팅하기
						a(class='btn btn-success', value='F2' id='setblackImage') 직접 세팅하기
					div(class='container')
			
				
					div(class='container')
						div(class='btn-group')
							input(type='button',class='btn btn-default', id='base', value="기본")
							input(type='button',class='btn btn-default', id='counter', value="'")
							input(type='button',class='btn btn-default', id='double', value='2')
							input(type='button',class='btn btn-default', id='counterdouble', value="'2")
								
					table
						tbody
							tr(id='buttonfield')
					div(class='container')
						div(class='btn-group')
							input(type='button', id='facemaker', class='btn btn-default', value='L')
							input(type='button', id='facemaker', class='btn btn-default', value='F')
							input(type='button', id='facemaker', class='btn btn-default', value='R')
							input(type='button', id='facemaker', class='btn btn-default', value='B')
							input(type='button', id='facemaker', class='btn btn-default', value='U')
							input(type='button', id='facemaker', class='btn btn-default', value='D')
					div(class='container')
						div(class='btn-group')
							input(type='button', value='yellow', class='btn btn-default', id='color', style='background-color:#FFE400')
							input(type='button', value='green', class='btn btn-default', id='color', style='background-color:green')
							input(type='button', value='red', class='btn btn-default', id='color', style='background-color:red')
							input(type='button', value='blue', class='btn btn-default', id='color', style='background-color:blue')
							input(type='button', value='orange', class='btn btn-default', id='color', style='background-color:orange')
							input(type='button', value='white', class='btn btn-default', id='color', style='background-color:white')
					div(class='container')
						div(class='btn-group')
							input(type='button', id='mark', value='★', class='btn btn-default')					
					div(class='container')
						div(class='btn-group')
							input(type='button', id='writelecture', value='글 쓰기', class='btn btn-default')
							input(type='button', id='showlecturelist', value='목록보기', class='btn btn-default')
				
					
				div(class='col-md-6' id='lecturefield')
					
			
					
						
	
				
				
	script(src='/resources/makeCube.js', charset='utf-8')
	script(src='/resources/movingCube.js' charset='utf-8')
	script(src='/resources/setView.js' charset='utf-8')
	script(src='/resources/movingController.js' charset='utf-8')
	script(src='/resources/MakingCubeDiagram.js' charset='utf-8')
	script(src='/resources/Parser.js' charset='utf-8')
	script(src='/resourcesLecture/lecturemain.js' charset='utf-8')
					
					
					