extends layout

block content
	script(type='text/javascript' src='/resourcesProfile/monthly.js', charset='utf-8')

	div(class="section")
		div(class="container")
			div(class="row" id='field')
          //div(style="float:left;border-top:1px solid;border-bottom:1px solid;border-left:1px solid;border-right:1px solid; background-color:cyan;width:450px;height:400px")
            