extends layout

block content
	p hi
	div(class='section')
		div(class='container')
			div(class='row')
				div(class='col-md-12')
					ul(class='media')
						each haha in result
							li(class='media')
								//a(class='pull-left' herf='#')
								img(class="media-object" src='#{haha.imageaddr}' height="64" width="64")
								div(class='media-body')
									h4(class='media-heading') #{haha.brand}
									p #{haha.name}