extends layout

block content
	h3 이 홈페이지는 포트폴리오 용입니다.
	h3 더군다나 비전공자라 이곳저곳에 버그가 있을지 모릅니다. 
	h3 혹시 발견하신다면 ghdrjsgml@gmail.com 으로 메이를 꼭 주시길 부탁드리겠습니다.
	h3 이 곳을 둘러보시고 혹시나 쓸모 있을 것 같다고 생각하시면 위의 메일로 피드백을 주시면 취업 후에도 제가 계속 유지보수와 개발을 하겠습니다.
	h3 아래는 저에대한 간단한 소개 입니다.
	</br>
	h1 이뭐꼬?
	h3 이름 : 홍XX
	h3 전공 : 통계(주),수학(부)
	h3 취업희망 : 웹 프로그래머(프론트엔드 희망)
	h2 이것을 만들게 된 이유는?
	h3 0. 포트폴리오로 쓰기 위함이다.
	h3 1. 공식이 잘 외워지지 않는다. 공식이 생각나지 않을 때마다 패턴을 찾아야 하는데 그것마저도 나이가 들어 쉽지 않은 느낌이었다.
	h3 패턴을 찾을때마다 매우 피로감을 느꼈다. 그래서 직접 내가 원하는 패턴을 입력하면 어떨까? 하는 마음에서 출발하였다
	h3 2. 또한 이해를 하고 외우고 싶은데, 이 조각이 이럴때는 어디로 가는건지 그림을 통해 이해하려고 수첩에 그림을 수없이 그렸지만 그림 그리는 것
	h3 자체가 중노동이었다. 그래서 입력만 하면 알아서 돌려주는 시뮬레이터가 있으면 참 좋겠다(이미 시중에도 많지만..) 라는 생각을 했다.
	h3 3. 특히 333큐브를 형태적으로나 미적으로나 매우 좋아하기 때문에 도처에 널려있는 333큐브들의 후기를 하나로 집대성하고자 하였다(추후 완성하겠지만 현재는 미완성이다.)
	</br>
	h2 무엇으로 만들었나.
	h3 Eclipe 개발 툴을 이요하고 Node.js, Express, javascript,jQeruy와 부트스트랩을 조금 이용하였다. 
	h3 사실 기존에 있는 큐브생성 코드를 찾아 쓰면 되지만. 자바스크립트를 공부하기 위해 내 나름의 로직대로 순수 자바스크립트만으로 설계하고 만들었다.
	</br>
	h2 향후 개선사항.
	h3 cube 리뷰 페이지 완전히 완성하기
	h3 코드 주석 달고 깔끔하게 정리하기 
	h3 이 프로젝트 문서화
	</br>
	h1 다시한번 이곳에 들러 주셔서 정말 감사합니다. 